*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(58, 58, 58);
  color: white;
  font-size: 20px;
}

img {
  width: 700px;
  height: 500px;
}


.container-slider {
  width: 700px;
  margin: 100px auto;
  text-align: center;
  object-fit: cover;
  overflow: hidden;
}

.image-block {
  width: 2800px;
  background-color: white;
  height: 460px;
  position: relative;
  margin-bottom: 50px;
  transition: left ease 1s;
}

.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
}
.title-text{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 0;
    transition: left ease 1s;
}
.slider-text{
    opacity: 0;
    
   
}
#slider-img1:target ~ .image-block {
  left: 0px;
}
#slider-img1:target ~ .description > .button-bullet > .slider-change:nth-child(1):visited {
  background-color: rgb(173, 238, 130);
}


#slider-img1:target ~ .description > .title-text > .slider-text:nth-child(1){
    opacity: 1;
}
#slider-img1:target ~ .description > .title-text{
    left: 0px;
}


#slider-img2:target ~ .description > .title-text{
    left: -125px;
}
#slider-img2:target ~ .description > .title-text > .slider-text:nth-child(2){
    opacity: 1;
    
}


#slider-img3:target ~ .description > .title-text{
    left: -250px;
}
#slider-img3:target ~ .description > .title-text > .slider-text:nth-child(3){
    opacity: 1;
    
}

#slider-img4:target ~ .description > .title-text{
    left: -375px;
}
#slider-img4:target ~ .description > .title-text > .slider-text:nth-child(4){
    opacity: 1;
}



#slider-img2:target ~ .image-block {
  left: -700px;
}
#slider-img2:target ~ .description > .button-bullet > .slider-change:nth-child(2):visited {
    background-color: rgb(173, 238, 130);
}



#slider-img3:target ~ .image-block {
  left: -1400px;
}
#slider-img3:target ~ .description > .button-bullet > .slider-change:nth-child(3):visited {
    background-color: rgb(173, 238, 130);
}


#slider-img4:target ~ .image-block {
    left: -2100px;
  }
  
  #slider-img4:target ~ .description > .button-bullet > .slider-change:nth-child(4):visited {
      background-color: rgb(173, 238, 130);
  }
.slider-change {
  display: inline-block;
  height: 10px;
  width: 20px;
  transform: skew(20deg);
 
  background-color: white;
}
.slider-change:hover{
    height: 15px;
  width: 25px;
  transform: skew(20deg);
    
    background-color: rgb(194, 194, 194);
}
.slider-change:active{
    height: 15px;
    width: 25px;
    transform: skew(20deg);
    background-color: rgb(52, 158, 108);
}
.description{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 500px) {
    .description{
        flex-direction: column;
    }
    .title-text{
        order: 1;
    }
    .button-bullet{
        order: 0;
    }
}